---
layout: page
title: "Projects"
description: "This is what I do."
header-img: "img/about-bg.jpg"
---

{% for project in site.data.projects %}
<div class="post-preview">
    <a href="{{ project.github-url }}"> <h2 class="post-title"> {{ project.name }} </h2></a>

    <!--{% if project.github-url %}
    <p class="post-meta">{{ project.github-url }}</p>
    {% endif %}-->

    <p> {{ project.description }} </p>
    
    {% if project.image %}
    <img src=" {{ project.image | prepend: site.baseurl }}">
    {% endif %}
</div>
<hr>
{% endfor %}
