---
layout: page
title: "Publications"
description: "This is what I have done."
image: "img/publication-bg.jpg"
---

{% for paper in site.data.publications %}
<div class="post-preview">
    <a href="{% if paper.url %} {{ paper.url }} {% else %} # {% endif %}">
        <h2 class="post-title"> {{ paper.title }} </h2>
    </a>    

    {% if paper.subtitle %}
    <h3 class="post-subtitle">
        {{ paper.subtitle }}
    </h3>
    {% endif %}

    <p> {{ paper.description }} </p>

    {% if paper.image %}
    <img src=" {{ paper.image | prepend: site.baseurl }}">
    {% endif %}

    {% if paper.reference %}
    <p class="post-meta"> {{ paper.reference }}.</p>
    {% endif %}
</div>
<hr>
{% endfor %}
